{% extends 'base.html.twig' %}

{% block title %}Invitaciones{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Invitaciones</h1>
    <p>Aquí van las invitaciones pendientes.</p>
</div>
{% endblock %}