{% extends 'base.html.twig' %}

{% block title %}Usuarios Cercanos{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Usuarios Cercanos</h1>
    <p>Lista de usuarios cercanos.</p>
</div>
{% endblock %}