{% extends 'base.html.twig' %}

{% block title %}Bloqueados{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Usuarios Bloqueados</h1>
    <p>Lista de usuarios bloqueados.</p>
</div>
{% endblock %}